body > div {
  margin-bottom: 15px;
}

.transition .square {
  width: 150px;
  height: 150px;
  background-color: green;
  color: white;
  transition: 1s;
}

.transition .square:hover {
  background-color: aquamarine;
  border-radius: 40px;
  margin-left: 80vw;
  rotate: 700deg;
}

.keyframes .square {
  background-color: orange;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: transform 10s ease-in-out 1s infinite alternate;
}

@keyframes transform {
  0% {
    background-color: darkorchid;
  }
  70% {
    background-color: red;
    rotate: 1turn;
    translate: 70vw 0;
  }
  75% {
    border-radius: 0;
  }
  100% {
    translate: 50vw 0;
  }
}

.text {
  font-size: 50px;
  font-weight: bold;
  margin-left: 40px;
  animation: pulse 0.3s ease-in-out 1s infinite alternate;
}

@keyframes pulse {
  100% {
    color: white;
  }
}

.text-bounce {
  margin-top: 100px;
  font-size: 40px;
  font-weight: bold;
  color: blue;
  animation: bounce 0.5s ease-out 1s infinite alternate;
}

@keyframes bounce {
  0% {
    margin-top: 70px;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-bottom: 20px;
  }
}

.style-js .square {
  width: 150px;
  height: 150px;
  background-color: rgb(228, 63, 219);
}
